@model Career_Guidance_Platform.Dtos.CareerResultDto

<h2>Kết quả hướng nghiệp</h2>

<div class="card">
    <div class="card-body">
        <h3>@Model.CareerName</h3>

        <p>
            Điểm phù hợp:
            <strong>@Model.TotalScore</strong>
        </p>
    </div>
</div>